# 原始数据
movies.txt

# ETL
ETL/results/
ETL/errors
ETL/csvs/

data/

.csv
.txt
.pklnode_modules/ 
dist/ 
.env 
fronted/node_modules/echarts/build/source-release/template/vote-release.tpl
fronted/node_modules/echarts/build/source-release/template/vote-result.tpl
fronted/node_modules/echarts/build/template/charts.d.ts
fronted/node_modules/echarts/build/template/charts.js
fronted/node_modules/echarts/build/template/components.d.ts
fronted/node_modules/echarts/build/template/components.js
fronted/node_modules/echarts/build/template/core.d.ts
fronted/node_modules/echarts/build/template/core.js
fronted/node_modules/echarts/build/template/features.d.ts
fronted/node_modules/echarts/build/template/features.js
fronted/node_modules/echarts/build/template/option.d.ts
fronted/node_modules/echarts/build/template/renderers.d.ts
fronted/node_modules/echarts/build/template/renderers.js
fronted/node_modules/echarts/build/testDts.js
fronted/node_modules/echarts/build/transform-dev.js
