<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.query.mysql.mapper.ActorsCooperationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.query.mysql.entity.ActorsCooperation">
        <id column="id" property="id" />
        <result column="actor1_id" property="actor1Id" />
        <result column="actor2_id" property="actor2Id" />
        <result column="cooperation_count" property="cooperationCount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, actor1_id, actor2_id, cooperation_count
    </sql>

</mapper>
