<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.query.mysql.mapper.MoviesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.query.mysql.entity.Movies">
        <id column="id" property="id" />
        <result column="movie_asin" property="movieAsin" />
        <result column="movie_title" property="movieTitle" />
        <result column="score" property="score" />
        <result column="review_num" property="reviewNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, movie_asin, movie_title, score, review_num
    </sql>
</mapper>