<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.query.mysql.mapper.ReleaseDatesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.query.mysql.entity.ReleaseDates">
        <id column="id" property="id" />
        <result column="movie_id" property="movieId" />
        <result column="year" property="year" />
        <result column="month" property="month" />
        <result column="day" property="day" />
        <result column="weekday" property="weekday" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, movie_id, year, month, day, weekday
    </sql>

</mapper>
