<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.query.hive.mapper.ActorDirectorCooperationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.query.hive.entity.ActorDirectorCooperation">
        <id column="actor_id" property="actorId" />
        <result column="director_id" property="directorId" />
        <result column="actor_name" property="actorName" />
        <result column="director_name" property="directorName" />
        <result column="movie_num" property="movieNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        actor_id, director_id, actor_name, director_name, movie_num
    </sql>

    <select id="getBaseDirectorActorCollaborations" resultType="map">
        SELECT
            director_name as director,
            actor_name as actor,
            movie_num as collaborations
        FROM actor_director_cooperation
        ORDER BY movie_num DESC
        LIMIT #{limit}
    </select>

    <select id="getDirectorActorCollaborations" resultType="map">
        SELECT
            d.name as director,
            a.name as actor,
            COUNT(DISTINCT md.movie_id) as collaborations
        FROM movie_directors md
        JOIN movie_actors ma ON md.movie_id = ma.movie_id
        JOIN directors d ON md.director_id = d.id
        JOIN actors a ON ma.actor_id = a.id
        <if test="genre != null and genre != ''">
            JOIN movie_genres mg ON md.movie_id = mg.movie_id
        </if>
        <where>
            <if test="genre != null and genre != ''">
                mg.genre = #{genre}
            </if>
        </where>
        GROUP BY d.name, a.name
        ORDER BY collaborations DESC
        LIMIT #{limit}
    </select>

    <select id="getDirectorActorCollaborationsByReviews" resultType="map">
        SELECT
            d.name as director,
            a.name as actor,
            SUM(m.review_num) as review_sum
        FROM movie_directors md
        JOIN movie_actors ma ON md.movie_id = ma.movie_id
        JOIN directors d ON md.director_id = d.id
        JOIN actors a ON ma.actor_id = a.id
        JOIN movies m ON md.movie_id = m.id
        <if test="genre != null and genre != ''">
            JOIN movie_genres mg ON md.movie_id = mg.movie_id
        </if>
        <where>
            <if test="genre != null and genre != ''">
                mg.genre = #{genre}
            </if>
        </where>
        GROUP BY d.name, a.name
        ORDER BY review_sum DESC
        LIMIT #{limit}
    </select>

</mapper>
